name: flutter_popover
description: A versatile and highly customizable popover widget for Flutter, perfect for creating tooltips, menus, and more.
version: 0.0.6
homepage: https://github.com/khoadng/flutter_popover
repository: https://github.com/khoadng/flutter_popover
issue_tracker: https://github.com/khoadng/flutter_popover/issues

environment:
  sdk: ">=3.0.0 <4.0.0"
  flutter: ">=1.17.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

